
    <div class="firstBlock">
        <img src="assets/img/computer-1185637.jpg" alt="Photo Personne en train de travailler"/>
        <h2> Cream NG</h2>
        <p class="accueilMessage">The complete library of accessible and semantic Angular components  </p>
    </div>

    <div class="whyNgCream">
        <h2> Why use CreamNG ? </h2>
        <p>
            <small> If you are looking for a perfect Angular component library you are in the right place</small>
            NG Cream is a collection for Angular. All these components are open source and free. NG Cream is developed by the Studio within <a href="#">Worldline.</a>
        </p>
    </div>



    <ul class="ngCreamBecause">
    <li>
        <img src="assets/img/language-html5.png" alt="logo html"/>
        <h3> HTML 5 </h3>
        <p>Each component has its own code, it is <strong>semantic</strong> and <strong>accessible</strong></p>
    </li>

    <li>
        <img src="assets/img/github-circle.png" alt="logo github"/>
        <h3> open source </h3>
        <p>All the components are <strong>open source</strong> and free to use with <a href="#">GitLab</a></p>
    </li>
          <li>
        <img src="assets/img/language-css3.png" alt="logo css"/>
        <h3> CSS 3 </h3>
        <p>All the latest CSS3 attributes with <strong>compatibility</strong> for each browser</p>
    </li>
          <li>
        <img src="assets/img/share-variant.png" alt="logo de partage"/>
        <h3> Share with community </h3>
        <p>You can <strong>send us</strong> your components which will be <strong>tested</strong> before being put online</p>
    </li>
          <li>
        <img src="assets/img/responsive.png" alt="logo responsiv"/>
        <h3> Responsive Design</h3>
        <p>All components are <strong>responsive</strong> (smartphone, tablet, desktop, ...)</p>
    </li>
                <li>
        <img src="assets/img/hexagon-multiple.png" alt="logo composants multiple"/>
        <h3> Accessibility</h3>
        <p>All the components are <strong>accessible </strong> with Web Content Accessibility Guidelines 2.0 (FR : RGAA)</p>
    </li>

    </ul>
