
<!-- A Carousel Item-->
<li class="carousel-item" role="tab" tabindex={{tabIndex}} [attr.aria-selected]="isVisible" [attr.aria-controls]="itemID">
        <!-- Previous button -->
        <button class="previousCarouselItem" tabindex={{tabIndex}} (click)="previousSlide()" aria-label="Previous slide"></button>

        <!-- Carousel item Content -->
        <div class="carousel-item-content" role="tabpanel" id={{itemID}} [attr.aria-hidden]="!isVisible">
            <ng-content></ng-content>
        </div>

        <!-- Next Button -->
        <button class="nextCarouselItem" tabindex={{tabIndex}} (click)="nextSlide()" aria-label="Next slide"></button>
</li>

