
<!-- TITLE TABS COMPONENT PAGE -->
<div class="panelTitle">
  <h2> <strong> Tabs </strong> Component </h2>
  <ul>
    <li><a href="#">Normal Tabs</a></li>
  </ul>
</div>


<!-- DESCRIPTION TABS COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="nrmTabs">
    <h3> Normal Tabs </h3>
    <p> Its' a tabs divided into 2 components: one for the container (TabsComponent) and the other for the content (TabComponent)</p>


    <!-- TABS DEMO -->
    <c3m-tabs class="presentationTabV">
      <c3m-tab tabTitle="Title1">
        Content 1
      </c3m-tab>
      <c3m-tab tabTitle="Title2">
        Content 2
      </c3m-tab>
      <c3m-tab tabTitle="Title3">
        Content 3
      </c3m-tab>
      <c3m-tab tabTitle="Title4">
        Content 4
      </c3m-tab>
    </c3m-tabs>


    <p> This component is accessible and semantic.
    The css provides for cases where the width of the
    tab is greater than the width of the page. It is possible
    to change the default open tab with the viable startIndexActiv
    in tabs.component.ts</p>



    <!-- TABS SNIPPETS -->
    <c3m-tabs>
      <c3m-tab tabTitle="HTML">
        <p class="pre-code"> To call the component </p>
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
              <code>
                  &#x3C;c3m-tabs &#x3E;
                      &#x3C;c3m-tab tabTitle=&#x22;Title1&#x22;&#x3E;
                          Content 1
                      &#x3C;/c3m-tab&#x3E;
                      &#x3C;c3m-tab tabTitle=&#x22;Title2&#x22;&#x3E;
                          Content 2
                      &#x3C;/c3m-tab&#x3E;
                      &#x3C;c3m-tab tabTitle=&#x22;Title3&#x22;&#x3E;
                          Content 3
                      &#x3C;/c3m-tab&#x3E;
                      &#x3C;c3m-tab tabTitle=&#x22;Title4&#x22;&#x3E;
                          Content 4
                      &#x3C;/c3m-tab&#x3E;
                  &#x3C;/c3m-tabs&#x3E;
              </code>
            </pre>
        </div>
        <p class="pre-code"> For <strong>tabs.component.html</strong> </p>
        <div class="code">
            <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
              <code>
                  &#x3C;div class=&#x22;tabsContainer&#x22;&#x3E;
                    &#x3C;ul&#x3E;
                          &#x3C;li #tabs *ngFor=&#x22;let tab of tabs&#x22;
                              (click)=&#x22;selectTab(tab)&#x22;
                              [ngClass]=&#x22;&#123;active: tab.isActive, over: isOver&#125;&#x22;
                              [attr.aria-expanded]=&#x22;tab.isActive&#x22;
                              [attr.aria-controls]=&#x22;tab.panelID&#x22;
                              [attr.aria-selected]=&#x22;tab.isActive&#x22;
                              id= &#123; &#123; tab.tabID &#125; &#125; &#x3E;

                            &#x3C;a &#x3E; &#123; &#123; tab.tabTitle &#125;&#125; &#x3C;/a&#x3E;
                          &#x3C;/li&#x3E;
                    &#x3C;/ul&#x3E;

                    &#x3C;ng-content&#x3E; &#x3C;/ng-content&#x3E;
                  &#x3C;/div&#x3E;
              </code>
            </pre>
        </div>
          <p class="pre-code"> For <strong>tab.component.html</strong> </p>
        <div class="code">
            <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
              <code>
                      &#x3C;div class=&#x22;content&#x22;
                            [attr.aria-hidden]=&#x22;!isActive&#x22;
                            [attr.aria-labeledby]=&#x22;tabID&#x22;
                            id= &#123; &#123; panelID &#125;&#125; &#x3E;
                            &#x3C;ng-content&#x3E;&#x3C;/ng-content&#x3E;
                      &#x3C;/div&#x3E;
              </code>
            </pre>
        </div>


      </c3m-tab>
      <c3m-tab tabTitle="CSS">
        <p class="pre-code"> To call the component </p>
        <div class="code">
              <!--?prettify lang=css linenums=true?-->
              <pre class="prettyprint linenums">
              <code>

                  /* GESTION DES SNIPPETS */

                .tabsContainer &#123;
                    background-color: transparent;
                    margin-top: 2rem;
                    box-shadow: 0px 7px 5px -4px rgba(50, 50, 50, 0.62)
                   &#125;

                    .tabsContainer ul &#x3E; li &#123;
                      display: inline-block;
                      padding: 0 1em;
                      text-align: center;
                      font: 0.9rem &#x22;robotoblack&#x22;;
                      background-color: rgba(152, 142, 128, 0.31);
                      margin-right: 0.4rem;
                     &#125;
                    .tabsContainer &#x3E; ul &#x3E; li.active &#123;
                      background-color: rgba(218, 218, 218, 0.68);
                     &#125;

                    .tabsContainer &#x3E; ul &#x3E; li a  &#123;
                        display:block;
                        padding: 0.4rem;
                        width: 100%;
                        background-color: initial;
                        cursor: pointer;
                        color:black;
                     &#125;
                        c3m-tab .content[aria-hidden=&#x22;false&#x22;] &#123;
                          padding: 1rem;
                          background-color: rgba(218, 218, 218, 0.68);
                          padding-top: 2.2rem;
                          font: 1rem &#x22;robotolight&#x22;;
                         &#125;
                          c3m-tab .content[aria-hidden=&#x22;true&#x22;] &#123;
                            display: none;
                           &#125;
                            .tabsContainer ul &#x3E; li.over &#123;
                              display:block;
                              width:100%;
                              border-bottom: 1px solid white;
                             &#125;

                @media screen and (min-width:850px) &#123;

                  .tabsContainer &#x3E; ul &#x3E; li &#123;
                      font-size: 1.2rem;

                     &#125;
                 &#125;

              </code>
            </pre>
        </div>

      </c3m-tab>
      <c3m-tab tabTitle="TypeScript">
        <p class="pre-code">For <strong>tabs-page.component.ts</strong></p>
          <div class="code">
              <!--?prettify lang=js linenums=true?-->
              <pre class="prettyprint linenums">
                  <code>
                      import &#123; Component, ViewEncapsulation, Input, ElementRef, AfterViewInit, ViewChildren, QueryList, ChangeDetectorRef, HostListener &#125; from &#x27;@angular/core&#x27;;
                      import &#123; TabComponent &#125; from &#x27;./tab/tab.component&#x27;;

                      @Component(&#123;
                        selector: &#x27;-tabs&#x27;,
                        templateUrl: &#x27;./tabs.component.html&#x27;,
                        styleUrls: [&#x27;./tabs.component.css&#x27;],
                        encapsulation: ViewEncapsulation.None
                      &#125;)
                      export class TabsComponent implements AfterViewInit &#123;

                        @ViewChildren(&#x27;tabs&#x27;) tabsElement: QueryList&#x3C;ElementRef&#x3E;;

                        tabs: TabComponent[] = [];
                        isOver: boolean;
                        widthBreak: number;
                        sizeInit = 0;
                        arrayTmp: ElementRef[] = [];

                        /* Managing resize for tab breakpoint */
                        @HostListener(&#x27;window:resize&#x27;, [&#x27;$event&#x27;])
                        onResize(event) &#123;
                          if ( this.tabsElement.last.nativeElement.offsetTop &#x3E; this.tabsElement.first.nativeElement.offsetTop ) &#123;

                                    if ( (this.tabsElement.last.nativeElement.offsetTop &#x3E; this.tabsElement.first.nativeElement.offsetTop) &#x26;&#x26;  (this.isOver !== true) ) &#123;
                                        this.widthBreak = event.target.innerWidth;
                                        this.isOver = true;
                                    &#125;

                                    if (this.widthBreak) &#123;
                                          if ( (event.target.innerWidth &#x3E; this.widthBreak) &#x26;&#x26; (this.isOver === true) ) &#123;
                                          this.isOver = false;
                                          &#125;

                                    &#125; else &#123;
                                          this.widthBreak = this.sizeInit;
                                            if ( event.target.innerWidth &#x3E;= this.widthBreak ) &#123;
                                              this.isOver = false;
                                            &#125;
                                    &#125;
                          &#125; else &#123;
                            this.isOver = false;
                          &#125;
                          this.cdr.detectChanges();
                        &#125;

                        /* Adding a Tab to the Tab Table and Selecting the Current Tab */
                        addTab(tab: TabComponent) &#123;
                          if (this.tabs.length === 0) &#123;
                            tab.isActive = true;
                          &#125;
                          this.tabs.push(tab);
                        &#125;

                        /* Closing tabs and opening the current Tab */
                        selectTab(tab: TabComponent) &#123;
                          this.tabs.forEach((TabComponent) =&#x3E; &#123;
                            TabComponent.isActive = false;
                          &#125;);
                          tab.isActive = true;
                          &#125;

                        /* Tab breakpoint management */
                        ngAfterViewInit(): void &#123;

                          this.arrayTmp = this.tabsElement.toArray();
                          for ( let i = 0; i &#x3C; this.arrayTmp.length - 1; i ++ ) &#123;
                              this.sizeInit = this.arrayTmp[i].nativeElement.clientWidth + this.sizeInit;
                          &#125;

                          if ( this.tabsElement.last.nativeElement.offsetTop !== this.tabsElement.first.nativeElement.offsetTop ) &#123;
                            this.isOver = true;
                          &#125; else &#123;
                            this.isOver = false;
                          &#125;
                            this.cdr.detectChanges();
                        &#125;


                        /* Constructor */
                        constructor(private cdr: ChangeDetectorRef) &#123;
                        &#125;

                      &#125;


                </code>
              </pre>
          </div>

          <p class="pre-code">For <strong>tab-page.component.ts</strong></p>
          <div class="code">
             <!--?prettify lang=js linenums=true?-->
                        <pre class="prettyprint linenums">
                          <code>
                                import &#123; Component, OnInit, ViewEncapsulation, Input, AfterViewInit&#125; from &#x27;@angular/core&#x27;;
                                import &#123; TabsComponent &#125; from &#x27;../tabs.component&#x27;;
                                import &#123; AppComponent &#125; from &#x27;../../../../app.component&#x27;;

                                @Component(&#123;
                                  selector: &#x27;c3m-tab&#x27;,
                                  templateUrl: &#x27;./tab.component.html&#x27;,
                                  styleUrls: [&#x27;./tab.component.css&#x27;],
                                  encapsulation: ViewEncapsulation.None
                                &#125;)
                                export class TabComponent implements OnInit, AfterViewInit &#123;

                                  @Input() tabTitle;
                                  @Input() isActive: boolean;
                                  @Input() idTab: number;
                                  tabID: string;
                                  panelID: string;

                                  constructor(tabs: TabsComponent, : AppComponent) &#123;
                                    tabs.addTab(this);
                                    this.idTab = app.randomID();
                                  &#125;

                                  ngOnInit() &#123;
                                    this.tabID = &#x27;tab&#x27; + this.idTab;
                                    this.panelID = &#x27;panel&#x27; + this.idTab;
                                  &#125;

                                  ngAfterViewInit() &#123;
                                    this.tabID = &#x27;tab&#x27; + this.idTab;
                                    this.panelID = &#x27;panel&#x27; + this.idTab;

                                  &#125;
                                &#125;
                          </code>
                        </pre>
          </div>

          <p class="pre-code">It's the <strong> Random Function </strong> that generates id automatically for "aria" and "id" attributes <strong> in the AppComponent </strong> for example</p>
          <div class="code">
             <!--?prettify lang=js linenums=true?-->
              <pre class="prettyprint linenums">
                    <code>
                        public randomID() &#123;
                          const idRandom = Math.round(Math.random() * (20000 - 1) + 1);
                          return idRandom;
                        &#125;
                    </code>
              </pre>
          </div>
      </c3m-tab>
    </c3m-tabs>

  </div>

</div>
