<table>
  <caption> Responsive Table </caption>
    <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Time</th>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
      <th scope="col">Country</th>
    </tr>
    </thead>

    <tbody>
        <tr>
          <td class="title"><span>Inception</span></td>
          <td><span>148</span></td>
          <td> <span>2010</span></td>
          <td><span>SF</span></td>
          <td><span>UK</span></td>
        </tr>
        <tr>
          <td class="title"> <span>The dark knight</span></td>
          <td><span>164</span></td>
          <td><span>2012</span></td>
          <td><span>SH</span></td>
          <td><span>USA/UK</span></td>
        </tr>
        <tr>
          <td class="title"><span>Pulp Fiction</span></td>
          <td><span>154</span></td>
          <td><span>1994</span></td>
          <td><span>Gangster</span></td>
          <td><span>USA</span></td>
        </tr>
    </tbody>
</table>