
<!-- TITLE NAVBAR COMPONENT PAGE -->
<div class="panelTitle">
  <h2> <strong> Navbar </strong> Component </h2>
  <ul>
    <li><a href="#">Normal Navbar</a></li>
    <li><a href="#">Fixed Top </a></li>
    <li><a href="#">Logo Float right</a></li>
  </ul>
</div>


<!-- DESCRIPTION TABS COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="nrmTabs">
    <h3> Normal Navbar </h3>
    <p> Its' a navbar with a burger button, links and dropdown</p>

    <!-- NAVBAR -->
    <c3m-navbar> </c3m-navbar>

  </div>

</div>