<!-- Navbar -->
    <nav>
      <!-- Burger Button -->
      <button class="burgerbtn"
              [attr.aria-expanded]="isOpen"
              [attr.aria-selected]="isOpen"
              [ngClass]="{over: isOver, isOpen: isOpen}"
              title="burger button">

          <img src="assets/img/burger.svg"
               alt="burger button"
               (click)='toggleBurger()'/>

      </button>

      <!-- Logo -->
      <a [ngClass]="{over: isOver}"
         #navItems routerLink="#"
         routerLinkActive="active"
         title="Logo" class="logo">

          <img src="assets/img/logoExample.png" alt="Logo">
      </a>

      <div class="containerDemo" [ngClass]="{over: isOver}">

          <!-- LINK LIST -->
          <ul class="navbarItems" [ngClass]="{over: isOver, isOpen: isOpen}" >

              <!-- DROPDOWN -->
              <li #navItems>
                  <c3m-dropdown type="bottom" name="Item 1">

                        <c3m-dropdown-item route="#" name="Menu Item 1-1"></c3m-dropdown-item>
                        <c3m-dropdown-item route="#" name="Menu Item 1-2"></c3m-dropdown-item>
                        <c3m-dropdown-item route="#" name="Menu Item 1-3"></c3m-dropdown-item>

                  </c3m-dropdown>
              </li>

              <li #navItems>
                  <c3m-dropdown type="bottom" name="Item 2">

                      <c3m-dropdown-item route="#" name="Menu Item 2-1"></c3m-dropdown-item>
                      <c3m-dropdown-item route="#" name="Menu Item 2-2"></c3m-dropdown-item>
                      <c3m-dropdown-item route="#" name="Menu Item 2-3"></c3m-dropdown-item>

                  </c3m-dropdown>
              </li>

              <!-- SIMPLE LINK -->
              <li #navItems><a routerLink="#" routerLinkActive="active">Item 3</a></li>
          </ul>
      </div>
    </nav>
