.dialog[aria-hidden="true"] {
    display: none;
}
    .dialog-overlay {
        z-index: 10;
        background-color: rgba(16, 15, 15, 0.84);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

     .dialog-content {
            background-color: rgb(255, 255, 255);
            z-index: 15;
            position: fixed;
            top: 40%;
            left: 25%;
            padding: 2em;
            width: 50%;
            border-radius: 2px;
        }
     .dialog[aria-hidden="false"] .dialog-content{
        animation-duration:1s;
         animation-name: test;
     }
            @keyframes test {
                from {
                    opacity: 0;
                    top:0%;
                }
                to {
                    opacity: 1;
                    top:40%;
                }
            }

.dialog h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
    .dialog p{
        font-size: 1.2rem;
        margin-bottom:1.5rem;
    }
    .dialog-close {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        border: 0;
        padding: 0;
        background-color: transparent;
        font-weight: bold;
        font-size: 1.25em;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        cursor: pointer;
        transition: 0.15s;
    }
        .dialog input{
            border-radius: 2px;
            border: 1px solid gray;
            height: 1.4rem;
            width: 90%;
            min-width: 10em;
        }
            .dialog label{
                font-family:"robotoitalic";
                margin-right:1rem;
            }

@media screen and (min-width: 700px) {
    .dialog-close {
        top: 1em;
        right: 1em;
    }

}

